<main role="main" class="container">
  <p>Search Results for {{query}}:</p>
  <div>
    {{#if badQuery}}
      <h1>The given query "{{query}}" is not a state, zipcode, or a current legistlator.  Please try again.</h1>
    {{else}}
      <h1>Query "{{interpret}}" accepted.  <a href="{{href}}">Redirecting...</a></h1>
    {{/if}}
      <script>
      (function(){
      var a = "{{href}}";
      console.log(a);
      if(a) {
          window.location.replace(a);
      }

      }())
      </script>
	</div>
</main>
