<link rel="stylesheet" href="/css/states.css" />

<div>
  	<div id="politician" >
			<h2> {{politician.first_name}} {{politician.last_name}} </h2>
			<hr class= "small"/>
			<div class = "row justify-content-left">
			<div class="col-md-3 justify-content-left">
				<img src ="https://theunitedstates.io/images/congress/225x275/{{politician.member_id}}.jpg" alt="{{politician.first_name}} {{politician.last_name}}">
			</div>
			<div class="col-md-3 justify-content-left">
			<table>
				<tr> <td><b> Role:</b></td> <td align="center"> {{role.title}}</td> </tr>
				<tr> <td><b> Gender:</b></td> <td align="center"> {{politician.gender}} </td> </tr>
				<tr> <td><b> Political party:</b></td> <td align="center"> {{role.party}}</td> </tr>
				<tr> <td><b> District:</b></td> <td align="center"> {{role.district}} </td> </tr>
			</table>
			</div>
			</div>
		</div>
	</div>

</div>