<main role="main" class="container">
<link rel="stylesheet" href="/css/politicians.css">

<!-- Facebook Button Widget Script -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<!-- YouTube Button Widget Script -->
<script src="https://apis.google.com/js/platform.js"></script>

<div>
	<div id="politician">
		<h2> {{politician.first_name}} {{politician.last_name}} </h2>
		<hr class="small" />
		<div class="row justify-content-left">
			<div class="col-md-3 justify-content-left">
				<img src="https://theunitedstates.io/images/congress/225x275/{{politician.member_id}}.jpg" alt="{{politician.first_name}} {{politician.last_name}}">
				<br><br>
				
			</div>
			<div class="col-md-8 justify-content-right">
			<div class="card">
			<div class="card-body" style="font-size:150%;">
			<table style="margin: 0 auto;">
				<tr > <td><b> Role:</b></td> <td align="center"> {{role.title}} </td> </tr>
				<tr> <td><b> State:</b></td> <td align="center"> {{role.state}}</td> </tr>

				<td>&nbsp;</td><td>&nbsp;</td>
				<tr> <td><b> Political party:</b></td> <td align="center"> {{role.party}} </td> </tr>

				<tr> <td><b> Start Date:</b></td> <td align="center"> {{role.start_date}} </td> </tr>
				<tr> <td><b> End Date:</b></td> <td align="center"> {{role.end_date}} </td> </tr>
			</table>
			</div>
			</div>
			<br>

			<p>
  				<a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Bills Sponsored</a>
  				
  				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Recent Bills</button>
  				
  				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample2">Contact Information</button>

  				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample2">Social Media</button>
			</p>

			<div class="row">
  				<div>
    				<div class="collapse multi-collapse" id="multiCollapseExample1" style="width: 47rem;">
      					<div class="card card-body">
        					<p><b> Bills sponsored:</b> {{role.bills_sponsored}}</p>
        					&nbsp;
        					<p><b> Bills co-sponsored:</b> {{role.bills_cosponsored}}</p>
        					&nbsp;
        					<p><b> Most recent Vote:</b> {{role.most_recent_vote}} </p>
      					</div>
    				</div>
  				</div>

  				
  				<div>
    				<div class="collapse multi-collapse" id="multiCollapseExample2" style="width: 47rem;">
      					<div class="card card-body">
        					<p><b> Most recent Introduced Bill:</b> {{role.recent_bills_introduced}} </p>
       						&nbsp;
        					<p><b> Most recent Updated Bill:</b> {{role.recent_bills_updated}}</p>
      					</div>
    				</div>
  				</div>


  				<div>
    				<div class="collapse multi-collapse" id="multiCollapseExample3" style="width: 47rem;">
      					<div class="card card-body">
        					<table>
        						<tr> <td><b> Office Address:</b></td> <td align="center"> {{role.office}} </td> </tr>
								<tr> <td><b> Phone:</b></td> <td align="center"> <a href="tel:{{role.phone}}">{{role.phone}}</a> </td> </tr>
								<tr> <td><b> Website:</b></td> <td align="center"> <a href={{politician.url}}>{{politician.url}}</a> </td> </tr>
							</table>
      					</div>
    				</div>
  				</div>

  				<div>
    				<div class="collapse multi-collapse" id="multiCollapseExample4" style="width: 47rem;">
      					<div class="card card-body" id="wrapper">
        					{{#if politician.twitter}}
        					<div id="c1" style="width: 75px;" >
							<a href="https://twitter.com/{{politician.twitter}}" class="twitter-follow-button" data-show-count="false">Follow</a>
							<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>{{/if}}
							</div>
				
							{{#if politician.facebook}}
							<div id="c1" style="width: 75px;" class="fb-like" data-href="https://www.facebook.com/{{politician.facebook}}" data-layout="button" data-action="like"
				 			data-size="small" data-show-faces="false" data-share="false"></div>
							
							{{/if}}
							{{#if politician.youtube}}
							<div style="width: 75px;" class="g-ytsubscribe" data-channel="{{politician.youtube}}" data-layout="default" data-count="hidden"></div>
							{{/if}}
      					</div>
    				</div>
  				</div>

			</div>
			
		</div>
	</div>
</div>

</div>
<hr class="small" />
<div class=".container-fluid">
	{{#if newsArticles}}
		<div id="newArticles">
			<div class="card-columns">
			{{#each newsArticles}}
				<div class="card">
				<img class="card-img-top" src="{{this.urlToImage}}" alt="Card image cap">
				<div class="card-body">
				<h5 class="card-title">{{this.title}}</h5>
				<p class="card-text">{{this.description}}</p>
				<br>
				<p>Author - {{this.author}}</p>
				<a href="{{this.url}}" class="btn btn-primary">Go to Article</a>
			</div>
		</div>
	{{/each}}
	</div>
</div>
{{/if}}

<div class="container">
	<div class="row">
		<!-- Twitter Feed -->
		<div class="col-md-6 justify-content-center">
			<a class="twitter-timeline" data-height="800" href="https://twitter.com/{{politician.twitter}}">Tweets</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>

		<div class="col-md-6 justify-content-center">
			<div class="fb-page" data-href="https://www.facebook.com/{{politician.facebook}}" data-tabs="timeline" data-width="500" data-height="800"
			 data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
				<blockquote cite="https://www.facebook.com/{{politician.facebook}}" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/{{politician.facebook}}"></a>
				</blockquote>
			</div>
		</div>
	</div>
</div>



</div>
</main>
