<main role="main" class="container">

<!-- Facebook Button Widget Script -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<!-- YouTube Button Widget Script -->
<script src="https://apis.google.com/js/platform.js"></script>

<div>
	<div id="politician">
		<h2> {{politician.first_name}} {{politician.last_name}} </h2>
		<hr class="small" />
		<div class="row justify-content-left">
			<div class="col-md-3 justify-content-left">
				<img src="https://theunitedstates.io/images/congress/225x275/{{politician.member_id}}.jpg" alt="{{politician.first_name}} {{politician.last_name}}">
			</div>
			<div class="col-md-3 justify-content-left">
				<p> role: {{role.title}}</p>
				<p> gender: {{politician.gender}} </p>
				<p> political party: {{role.party}}</p>
				<p> district: {{role.district}} </p>
				{{#if politician.twitter}}
				<a href="https://twitter.com/{{politician.twitter}}" class="twitter-follow-button" data-show-count="false">Follow</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>{{/if}}
				<br> {{#if politician.facebook}}
				<div class="fb-like" data-href="https://www.facebook.com/{{politician.facebook}}" data-layout="button" data-action="like"
				 data-size="small" data-show-faces="false" data-share="false"></div>
				{{/if}}
				<br> {{#if politician.youtube}}
				<div class="g-ytsubscribe" data-channel="{{politician.youtube}}" data-layout="default" data-count="hidden"></div>
				{{/if}}
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<!-- Twitter Feed -->
		<div class="col-md-6 justify-content-center">
			<a class="twitter-timeline" data-height="800" href="https://twitter.com/{{politician.twitter}}">Tweets</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>

		<div class="col-md-6 justify-content-center">
			<div class="fb-page" data-href="https://www.facebook.com/{{politician.facebook}}" data-tabs="timeline" data-width="500" data-height="800"
			 data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
				<blockquote cite="https://www.facebook.com/{{politician.facebook}}" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/{{politician.facebook}}"></a>
				</blockquote>
			</div>
		</div>
	</div>
</div>



</div>
</main>