<link rel="stylesheet" href="/css/states.css" />

<div>
   {{#each politicians}}
  	<div id="politician" class="tab-pane fade">
			<h2> {{this.first_name}} {{this.last_name}} </h2>
			<hr class= "small"/>
			<div class = "row justify-content-left">
			<div class="col-md-3 justify-content-left">
				<img src ="https://theunitedstates.io/images/congress/225x275/{{this.member_id}}.jpg" alt="{{this.first_name}} {{politician.last_name}}">
			</div>
			<div class="col-md-3 justify-content-left">
				<p> gender: {{this.gender}} </p>
			</div>
			</div>
		</div>
	</div>
	{{/each}}

</div>