<main role="main" class="container">

<div>
	<div id="politician">
		<h2> {{politician.first_name}} {{politician.last_name}} </h2>
		<hr class="small" />
		<div class="row justify-content-left">
			<div class="col-md-3 justify-content-left">
				<img src="https://theunitedstates.io/images/congress/225x275/{{politician.member_id}}.jpg" alt="{{politician.first_name}} {{politician.last_name}}">
			</div>
			<div class="col-md-8 justify-content-left">
			<table>
				<tr> <td><b> Role:</b></td> <td align="center"> {{role.title}} </td> </tr>
				<tr> <td><b> State:</b></td> <td align="center"> {{role.state}}</td> </tr>
				<tr> <td><b> District:</b></td> <td align="center"> {{role.district}} </td> </tr>

				<td>&nbsp;</td><td>&nbsp;</td>
				<tr> <td><b> Office:</b></td> <td align="center"> {{role.office}} </td> </tr>
				<tr> <td><b> Political party:</b></td> <td align="center"> {{role.party}} </td> </tr>

				<tr> <td><b> Start Date:</b></td> <td align="center"> {{role.start_date}} </td> </tr>
				<tr> <td><b> End Date:</b></td> <td align="center"> {{role.end_date}} </td> </tr>
				<tr> <td><b> Phone:</b></td> <td align="center"> {{role.phone}} </td> </tr>
				<tr> <td><b> Bills sponsored:</b></td> <td align="center"> {{role.bills_sponsored}} </td> </tr>
				<tr> <td><b> Bills co-sponsored:</b></td> <td align="center"> {{role.bills_cosponsored}} </td> </tr>
				<tr> <td><b> Most recent Vote:</b></td> <td align="center"> {{role.most_recent_vote}} </td> </tr>
				<tr> <td><b> Most recent Introduced Bill:</b></td> <td align="center"> {{role.recent_bills_introduced}} </td> </tr>
				<tr> <td><b> Most recent Updated Bill:</b></td> <td align="center"> {{role.recent_bills_updated}} </td> </tr>

				<td>&nbsp;</td><td>&nbsp;</td>
				<tr> <td><b> URL:</b></td> <td align="center"> <a href={{politician.url}}>{{politician.url}}</a> </td> </tr>
			</table>
			<br>
			<div class="btn-group">
        {{#if politician.twitter}}
          <a class="btn btn-info btn-sm" href="https://twitter.com/{{politician.twitter}}" role="button">Twitter</a>
        {{/if}}
        
        {{#if politician.facebook}}
          <a class="btn btn-primary btn-sm" href="https://www.facebook.com/{{politician.facebook}}" role="button">Facebook</a>
        {{/if}}

        {{#if politician.youtube}}
          <a class="btn btn-danger btn-sm" href="https://www.youtube.com/{{politician.youtube}}" role="button">YouTube</a>
        {{/if}}
      </div>
			</div>
		</div>
	</div>
</div>

<br>

{{#if newsArticles}}
<div id="newArticles">
	<div class="card-columns">
	{{#each newsArticles}}
		<div class="card">
			<img class="card-img-top" src="{{this.urlToImage}}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{this.title}}</h5>
				<p class="card-text">{{this.description}}</p>
				<br>
				<p>Author - {{this.author}}</p>
				<a href="{{this.url}}" class="btn btn-primary">Go to Article</a>
			</div>
		</div>
	{{/each}}
	</div>
</div>
{{/if}}

<div class="container">
	<div class="row">
		<!-- Twitter Feed -->
		<div class="col-md-6 justify-content-center">
			<a class="twitter-timeline" data-height="800" href="https://twitter.com/{{politician.twitter}}">Tweets</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>

		<div class="col-md-6 justify-content-center">
			<div class="fb-page" data-href="https://www.facebook.com/{{politician.facebook}}" data-tabs="timeline" data-width="500" data-height="800"
			 data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
				<blockquote cite="https://www.facebook.com/{{politician.facebook}}" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/{{politician.facebook}}"></a>
				</blockquote>
			</div>
		</div>
	</div>
</div>



</div>
</main>

<!-- Facebook Button Widget Script -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<!-- YouTube Button Widget Script -->
<script src="https://apis.google.com/js/platform.js"></script>