<!-- Facebook Button Widget Script -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<!-- YouTube Button Widget Script -->
<script src="https://apis.google.com/js/platform.js"></script>
<main role="main" class="container">
  <h1>{{state}}</h1>
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#senators" role="tab" aria-controls="senators" aria-selected="true">Senators</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#representatives" role="tab" aria-controls="representatives" aria-selected="false">Representatives</a>
		</li>
	</ul>

	<div class="tab-content politican-list">
		<div id="senators" class="tab-pane fade show active" role="tabpanel" aria-labelledby="senators">
			<h2> The Senators of {{state}} </h2>
      <div class="card-columns">
        {{#each senators}}
        <div class="card">
          <div class="row">
            <div class="col-sm-5 pr-sm-0">
              <img class="w-100 card-img-left" src ="https://theunitedstates.io/images/congress/450x550/{{this.id}}.jpg" alt="{{this.name}}">
            </div>
            <div class="col">
              <div class="card-body">
                <h3 class="card-title"><a href="/politicians/{{this.id}}">{{this.name}}</a></h3>
                <table>
                  <tr> <td><b> Role: </b></td> <td align="center">  {{this.role}} <a href="/tutorial#senator-card"><img src="images/misc/small-question-mark-icon-7.png" alt="question mark" width="42" height="42"></a></td> </tr>
                  <tr> <td><b> Gender:</b></td> <td align="center">  {{this.gender}} </td> </tr>
                  <tr> <td><b> Political party: </b></td> <td align="center"> {{this.party}}</td> </tr>
                </table>
                {{#if this.twitter_id}}
                  <a href="https://twitter.com/{{this.twitter_id}}" class="twitter-follow-button" data-show-count="false">Follow</a>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> {{/if}}
                  <br> {{#if this.facebook_account}}
                  <div class="fb-like" data-href="https://www.facebook.com/{{this.facebook_account}}" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                  {{/if}}
                  <br> {{#if this.youtube_id}}
                  <div class="g-ytsubscribe" data-channel="{{this.youtube_id}}" data-layout="default" data-count="hidden"></div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
		</div>

  	<div id="representatives" class="tab-pane fade" role="tabpanel" aria-labelledby="representative">
			<h2> The Representatives of {{state}} </h2>
      <div class="card-columns">
        {{#each representatives}}
        <div class="card">
          <div class="row">
            <div class="col-sm-5 pr-sm-0">
              <img class="w-100 card-img-left" src ="https://theunitedstates.io/images/congress/450x550/{{this.id}}.jpg" alt="{{this.name}}">
            </div>
            <div class="col">
              <div class="card-body">
                <h3 class="card-title"><a href="/politicians/{{this.id}}">{{this.name}}</a></h3>
                <p> role: {{this.role}} <a href="/tutorial#representative-card"><img src="images/misc/small-question-mark-icon-7.png" alt="question mark" width="42" height="42"></a></p>
                <p> gender: {{this.gender}} </p>
                <p> political party: {{this.party}}</p>
                <table>
				          <tr> <td><b>Role:</b></td> <td align="center">{{this.role}}</td> </tr>
				          <tr> <td><b>Gender:</b></td> <td align="center">{{this.gender}}</td> </tr>
				          <tr> <td><b>Political party:</b></td> <td align="center">{{this.party}}</td> </tr>
				          <tr> <td><b>District:</b></td> <td align="center">{{this.district}}</td> </tr>
				        </table>
                {{#if this.twitter_id}}
                  <a href="https://twitter.com/{{this.twitter_id}}" class="twitter-follow-button" data-show-count="false">Follow</a>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> {{/if}}
                  <br> {{#if this.facebook_account}}
                  <div class="fb-like" data-href="https://www.facebook.com/{{this.facebook_account}}" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                  {{/if}}
                  <br> {{#if this.youtube_id}}
                  <div class="g-ytsubscribe" data-channel="{{this.youtube_id}}" data-layout="default" data-count="hidden"></div>
                  {{/if}}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
		</div>
	</div>
<hr>
</main>
<script>
$("img").on("error", function () {
  $(this).unbind("error").attr("src", "/images/congress-noimg.svg");
});
</script>
