<link rel="stylesheet" href="/css/states.css" />

  <h1>{{state}}</h1>
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#senators" role="tab" aria-controls="senators" aria-selected="true">Senators</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#representatives" role="tab" aria-controls="representatives" aria-selected="false">Representatives</a>
		</li>
	</ul>

	<div class="tab-content">
		<div id="senators" class="tab-pane fade show active" role="tabpanel" aria-labelledby="senators">
			<h2> The Senators of {{state}} </h2>
			<hr class="small" />
			<div class="row">
				{{#each senators}}
				<div class="col-md-3 justify-content-left">
				<img src ="https://theunitedstates.io/images/congress/225x275/{{this.id}}.jpg" alt="{{this.name}}">
				</div>
				<div class="col-md-3 justify-content-left">
					<a href="/politicians/{{this.id}}"><h3>{{this.name}}</h3></a> 
					<table>
					<tr> <td><b>Role:</b></td> <td> {{this.role}}</td> </tr>
					<tr> <td><b>Gender:</b></td> <td> {{this.gender}} </td> </tr>
					<tr> <td><b>Political party:</b></td> <td> {{this.party}}</td> </tr>
					</table>
				</div>
				{{/each}}
			</div>
		</div>

  	<div id="representatives" class="tab-pane fade" role="tabpanel" aria-labelledby="representative">
			<h2> The Representatives of {{state}} </h2>
			<hr class= "small"/>
			<div class = "row justify-content-left">
			{{#each representatives}}
			<div class="col-md-3 justify-content-left">
				<img src ="https://theunitedstates.io/images/congress/225x275/{{this.id}}.jpg" alt="{{this.name}}">
			</div>
			<div class="col-md-3 justify-content-left">
				<a href="/politicians/{{this.id}}"> <h3>{{this.name}}</h3> </a>
				<table>
				<tr> <td><b>Role:</b></td> <td>{{this.role}}</td> </tr>
				<tr> <td><b>Gender:</b></td> <td>{{this.gender}}</td> </tr>
				<tr> <td><b>Political party:</b></td> <td>{{this.party}}</td> </tr>
				<tr> <td><b>District:</b></td> <td>{{this.district}}</td> </tr>
				</table>
			</div>
			{{/each}}

			</div>
		</div>
	</div>
