<main role="main" class="container">
  <h1>{{state}}</h1>
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#senators" role="tab" aria-controls="senators" aria-selected="true">Senators</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#representatives" role="tab" aria-controls="representatives" aria-selected="false">Representatives</a>
		</li>
	</ul>

	<div class="tab-content politican-list">
		<div id="senators" class="tab-pane fade show active" role="tabpanel" aria-labelledby="senators">
			<h2> The Senators of {{state}} </h2>
      <div class="card-columns">
        {{#each senators}}
        <div class="card">
          <div class="row">
            <div class="col-sm-5 pr-sm-0">
              <img class="w-100 card-img-left" src ="https://theunitedstates.io/images/congress/450x550/{{this.id}}.jpg" alt="{{this.name}}">
            </div>
            <div class="col-sm-7">
              <div class="card-body">
                <h3 class="card-title"><a href="/politicians/{{this.id}}">{{this.name}}</a></h3>
                <table>
                  <tr> <td><b> Role: </b></td> <td align="center"> <a href="/tutorial#senator-card"> {{this.role}}</a> </td> </tr>
                  <tr> <td><b> Gender:</b></td> <td align="center">  {{this.gender}} </td> </tr>
                  <tr> <td><b> Political party: </b></td> <td align="center"> <a href="/tutorial#political-party-card">{{this.party}}</a> </td> </tr>
                </table>
                <br>
                <div class="btn-group">
                  {{#if this.twitter_id}}
                    <a class="btn btn-info btn-sm" href="https://twitter.com/{{this.twitter_id}}" role="button"><i class="fab fa-twitter"></i>&nbsp;Twitter</a>
                  {{/if}}
                  
                  {{#if this.facebook_account}}
                    <a class="btn btn-primary btn-sm" href="https://www.facebook.com/{{this.facebook_account}}" role="button"><i class="fab fa-facebook"></i>&nbsp;Facebook</a>
                  {{/if}}

                  {{#if this.youtube_id}}
                    <a class="btn btn-danger btn-sm" href="https://www.youtube.com/{{this.youtube_id}}" role="button"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
		</div>

  	<div id="representatives" class="tab-pane fade" role="tabpanel" aria-labelledby="representative">
			<h2> The Representatives of {{state}} </h2>
      <div class="card-columns">
        {{#each representatives}}
        <div class="card">
          <div class="row">
            <div class="col-sm-5 pr-sm-0">
              <img class="w-100 card-img-left" src ="https://theunitedstates.io/images/congress/450x550/{{this.id}}.jpg" alt="{{this.name}}">
            </div>
            <div class="col-sm-7">
              <div class="card-body">
                <h3 class="card-title"><a href="/politicians/{{this.id}}">{{this.name}}</a></h3>
                <table>
				          <tr> <td><b>Role:</b></td> <td align="center"><a href="/tutorial#representative-card">{{this.role}}</a></td> </tr>
				          <tr> <td><b>Gender:</b></td> <td align="center">{{this.gender}}</td> </tr>
				          <tr> <td><b>Political party:</b></td> <td align="center"><a href="/tutorial#political-party-card">{{this.party}}</a></td> </tr>
				          <tr> <td><b>District:</b></td> <td align="center"><a href="/tutorial#representative-card">{{this.district}}</a></td> </tr>
				        </table>
                <br>
                <div class="btn-group">
                  {{#if this.twitter_id}}
                    <a class="btn btn-info btn-sm" href="https://twitter.com/{{this.twitter_id}}" role="button"><i class="fab fa-twitter"></i>&nbsp;Twitter</a>
                  {{/if}}
                  
                  {{#if this.facebook_account}}
                    <a class="btn btn-primary btn-sm" href="https://www.facebook.com/{{this.facebook_account}}" role="button"><i class="fab fa-facebook"></i>&nbsp;Facebook</a>
                  {{/if}}

                  {{#if this.youtube_id}}
                    <a class="btn btn-danger btn-sm" href="https://www.youtube.com/{{this.youtube_id}}" role="button"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
		</div>
	</div>
<hr>
</main>
<script>
$("img").on("error", function () {
  $(this).unbind("error").attr("src", "/images/congress-noimg.svg");
});
</script>
